* {
    margin: 0;
    font-family: "Raleway";
    
    
}

/* --------------------- ALERT ---------------------------*/



.alert-container {
    padding-top: 40px;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    height: 100%;
    z-index: 9999;
  }

  .alert-img__div{
    margin-right: 15%;
    width: 100%;
  }

  .alert__img{
    border-radius: 15px;
    display: flex;
    align-items: center;
    
    width: 100%;
    max-width: 500px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
  }
  

  .alert-message p{
    margin-top: 4%;
  }

/*  .circle{
    max-width: 100px;
    width: 100%;
    height: 100%;
    max-height: 100px;
    margin-top: -15%;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000000;
  }*/

  .alert-box {
    background-color: #ffffffe1;
    max-width: 500px;
    
    height: 450px;
    margin: auto;
    border-radius: 13px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .alert-message {
    margin-bottom: 15px;
    text-align: center;
    font-size: 150%;
    padding-top: 3%;
  }

  .btn-container {
    text-align: center;
    border: none;
  }

  .btn {
    gap: 20px;
    width: 25%;
    height: 25%;
    border-radius: 15px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    
  }

  .btn-yes {
    background-color: #21d2e9;
    height: 5%;
    color: #fff;
    border: none;
    transition: 0.2s ease-in-out;
  }

  .btn-no {
    background-color: #a3a3a3;
    color: #fff;
    border: none;
    transition: 0.2s ease-in-out;
  }

  .btn-yes:hover{
    transform: scale(1.02);
    background-color: #1fd5ed;
  }

  .btn-no:hover{
    transform: scale(1.02);
    background-color: #787878;
    ;
  }

/* --------------------- NAVBAR ---------------------------*/

.header__navbar {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: fixed;
    height: 20px;
    padding-right: 50px;
    padding-top: 50px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.192);
    z-index: 2; 
}

.navbar__img {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    margin-right: 50px;
    padding-left: 20px;
}

/*----------------------- MENU LATERAL -----------------------*/

#hamburger {
    position: fixed;
    padding-right: 0px;
    margin-right: -20px;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -10px;
    width: 100px;
    height: 150px;
    cursor: pointer;
    z-index: 1000;
}

#hamburger input {
    display: none;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    transition: 0.3s;
}

#hamburger svg {
    width: 50%;
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    z-index: 1000;
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

#hamburger input:checked + svg {
    transform: rotate(-45deg);
}

#hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.side-menu {
    flex: auto;
    position: fixed;
    top: 0;
    max-width: 250px;
    max-height: 750px;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    overflow: hidden;
    transition: 0.3s;
    z-index: 999;
    display: flex; 
    flex-direction: row;
}

.blue-line {
    width: 5px;
    background-color: #023143;
    height: 100%;
}

.side-menu ul {
    margin-top: -450px;
    list-style-type: none;
    padding: 0;
    width: calc(100% - 5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-menu ul li {
    padding: 15px;
    text-align: left;
}

.side-menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.side-menu__account {
    display: flex;
    
    padding-bottom: 50%;
    
}

.side-menu__account-link {
    padding-left: 15px;
    max-height: 300px;
    height: 100%;
    margin-top: 500px;
    margin-bottom: -700px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: end;
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
}

.side-menu__account-link:hover {
    background-color: #023143;
    transition-duration: .5s;
    transform: scale(1.04);
}

.side-menu ul li:hover {
    background-color: #023143;
    transition-duration: .5s;
    transform: scale(1.04);
}

.side-menu.open {
    right: 0;
}

.menu-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    z-index: 998;
}

.overlay.visible {
    visibility: visible;
    opacity: 1;
}

.entrar__img{
    
    display: inline-block;
    align-items: center;
    justify-content: center;
    filter: invert(100%);
    width: 7%;
    margin-top: - bnm15px;
    padding-right: 5px;
}

/*----------------------- HEADER -----------------------*/

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; 
}

.header__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    object-fit: cover;
    z-index: 0; 
}

.header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin-right: 50px;
}

.header__title h1 {
    font-size: 100px;
}

.header__title img {
    width: 200px;
    margin-right: 10px;
}

.title__color1 {
    color: #023143;
}

.title__color2 {
    color: white
}

/*----------------------- MAIN -----------------------*/

.main {
    position: relative;
    background-image: url('/assets/img/background/main/mainbackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 7000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.main__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7000px;
    object-fit: cover;
    z-index: 0; 
}

.main__section {
    margin-top: -5500px;
    height: 500px;
}

.main__hr{
    width: 1000px;
}

.spacer {
    height: 100vh; 
}


.main__title {
    text-align: center;
    margin-top: -100%;
    margin-bottom: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #d4d3d3;
}

.fade-out {
    opacity: 0;
    transition: opacity 4s ease-in-out;
}

.fade-in {
    opacity: 1;
}



@media (max-width: 768px) {
    .header__title h1 {
        font-size: 6vw; /* Ajuste para telas menores */
    }
    #header__title__img {
        width: 20%;
    }
}

/*------------------- PROBLEMA -------------------- */

#Problema article{
    margin-bottom: 50%;
}


.problema__title{ /* ISSO AQ TA MUDANDO TUDO!!!!!!!!!!!!!!!! */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin-top: -123%;
    padding-bottom: 20px;
    margin-bottom: 3%;
    z-index: 2;
}

.problema__title h2{
    margin: 0;
    display: block;
    font-size: 80px;
    z-index: 3;
}

.problema__title h3{
    margin: 0;
    display: block;
    font-size: 35px;
    margin-bottom: 1%;
    z-index: 3;
}

.container {
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%; 
    text-align: center;
}


.problem__content{
    width: 100%;
    
}





/*
.ocean1__background{

    margin-top: -50%;
    left: 0;
    width: 100%;
    height: 90vh;
    /*object-fit: cover;*//*
    z-index: 0;
    opacity: 0;
}

.ocean1__background.visible {
    opacity: 1;
}

/*------------------- IMPACTOS -------------------- */


#Impactos {
    margin-top: 35%;
    margin-bottom: 50%;
}

.container__impactos {
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%; 
    text-align: left;
}

.list-impactos__title {
    margin-bottom: 5px;
}

.impactos__title {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column; 
    margin-top: -30%;
    padding-bottom: 7%;
    margin-bottom: 0%;
    z-index: 2;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.impactos__title.visible {
    opacity: 1;
}


.impactos__list {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.impactos__list li {
    cursor: default;
    border-radius: 3px;
    font-size: 46%;
    width: 30%; 
    height: 200px; 
    margin: 10px;
    padding: 10px;
    background: linear-gradient(to top right, #3c9bb3, #1a68a4);
    border: #21d2e9 0.5px solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    overflow: hidden; /* Esconde o overflow */
    text-overflow: ellipsis; /* Adiciona reticências para overflow */
    white-space: normal; /* Permite quebra de linha */
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(20px); /* Inicialmente deslocado para baixo */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Alteração: tempo de transição inicial */
}

.impactos__list li.visible {
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Reseta a posição */
}

.impactos__list li:hover {
    transform: scale(1.04); /* Aumenta o tamanho */
    background: linear-gradient(to top right, #4abfdd, #228ad9); /* Alteração: adiciona mudança de cor */
    transition: transform 0.5s ease-in-out, background 0.5s ease-in-out; /* Alteração: assegura que a transição de escala e background aconteça */
}

.impactos__list h3 {
    font-size: 24px; /* Tamanho maior para o título */
    margin-top: 5px;
    padding-bottom: 1px;
}

#firstsquare {
    margin-bottom: 3%;
}

.impactos__list p {
    margin-top: -2%;
    margin-bottom: 12%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.hr__impactos1 {
    margin-top: 15px;
    border: white 1px solid;
    width: 93%;
    align-items: flex-start;
}

.hr__impactos2 {
    border: white 1px solid;
    width: 100%;
}

.hr__impactos1 {
    position: relative;
    animation: slide-in 4.5s ease-out forwards;
    opacity: 0;
}



@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/*
.square-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.square-front, .square-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
}

.square-front {
    background: linear-gradient(to top right, #3c9bb3, #1a68a4);
    color: white;
}

.square-back {
    background: linear-gradient(to top right, #4abfdd, #228ad9);
    color: white;
    transform: rotateY(180deg);
}

.square.flip .square-inner {
    transform: rotateY(180deg);
}*/





/*------------------- PROJEÇÃO ESPACIAL MARITIMA PEM -------------------- */

#PEM {
    margin-top: 35%;
    margin-bottom: 50%;

}

.pem__img{
    width: 100%;
    height: auto;
    
    
}

.pem-img__div{

    min-width: 1240px;
    margin-bottom: -10.5%;
    margin-left: 11.2%;
    width: 100%;
    max-height: 450px;
    overflow: hidden;

}



.container__pem {
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%; 
    text-align: right;
}

.pem__title {
    color: black;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    flex-direction: column; 
    margin-top: -30%;
    padding-bottom: 7%;
    margin-bottom: 0%;
    z-index: 2;
}

.pem__title h2{
   

    background-color: white;
    
    
}

.pem-title__text{
    margin-top: -6%;
    background-color: 0;
}

.pem__text{
    font-size: 30px;
    padding-bottom: 5px;
}

.pem__text p{

    padding-bottom: 35px;
}

.pem__color1{
    color: #21d2e9;

}

.pem__color2{
    color: #21d2e9;
    font-size: 90px;
}

#hr__pem1{
    margin-top: 0px;
    border: white 1px solid;
    width: 100%;
    align-items: flex-start;
    min-width: 1240px;
}

.pem__text{
    text-align: center;
}

.pem__list{
    margin-left: 4%;
    margin-right: 4%;
}

.pem-list__content{
    list-style: none;
}

.pem-list__title{
    text-align: center;
}

.pem-list__title h3{
    padding-bottom: 5px;
}

.item1__img{
    width: 10%;
}



/*------------- API GOOGLE EARTH ---------------- */

